@model System.Collections.Generic.IEnumerable<CorgiPictures.Model.Picture>

@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>asd
            <td>
                <a href="@Html.Raw(item.PictureUrl)" data-lightbox="image-1" data-title="My caption">
                    <img class="picture-preview" src="@Html.Raw(item.ThumbnailUrl)" />
                </a>
            </td>
        </tr>
    }
</table>